@font-face {
  font-family: 'AnonPro';
  src: url('../public/fonts/AnonymousPro-Bold.ttf') format('truetype');
}

:root {
  --primary-color: #000;
  --dark-background-color: #000;
  --dark-text-color: #fff;
  --dark-panel-background: #000;
  --dark-button-background: #000;
  --dark-button-text: #fff;
  --dark-border-color: #fff;

  --light-background-color: #fff;
  --light-text-color: #000;
  --light-panel-background: #fff;
  --light-button-background: #fff;
  --light-button-text: #000;
  --light-border-color: #000;

  --dark-logo-text-color: #fff;
  --light-logo-text-color: #000;

  --logo-text-color: var(--dark-logo-text-color);
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --panel-background: var(--dark-panel-background);
  --button-background: var(--dark-button-background);
  --button-text: var(--dark-button-text);
  --border-color: var(--dark-border-color);
}

body, p, button, a, h1, h2 {
  font-family: 'AnonPro', monospace;
  color: var(--text-color);
  text-align: center;  /* Text centering */
}

.text-logo {
  font-family: 'AnonPro', monospace;
  font-size: 40px;
  font-weight: bold;
  color: var(--logo-text-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin-bottom: 30px;
  pointer-events: none;
}

.App-header {
  background-color: var(--panel-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header, .content-container, .button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centering */
  justify-content: center; /* Vertically centering */
}

.loading-text {
  text-align: center;
  width: 100%;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--panel-background);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

.App-link {
  color: var(--primary-color);
}

.tweet-form {
  background: var(--panel-background);
  padding: 10px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.tweet-button, .share-button {
  background-color: var(--button-background);
  border: 1px solid var(--border-color);
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  /* display: inline-block; */
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
  /* white-space: nowrap; Prevents text wrapping */
}

.balance-container {
  margin-bottom: 20px;
  text-align: center;
}

.coin-balance {
  font-size: 18px;
  color: #aaa;
  margin: 0 5px;
}

.action-title, .or-divider {
  margin: 20px 0;
  font-size: 20px;
}

.tweet-form textarea {
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: 'AnonPro', monospace;
  font-size: 16px;
  background-color: var(--panel-background);
  color: var(--text-color);
}

.tweet-button:hover, .share-button:hover {
  background-color: #212121;
}

.mode-toggle {
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mode-toggle:hover {
  background-color: #888;
}

@media (max-width: 768px) {
  .tweet-form, .button-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .App-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tweet-button, .share-button {
    /* width: calc(90% - 20px); 90% width of the container minus padding */
    margin: 10px; /* Center the buttons */

  }
}
