@font-face {
  font-family: 'AnonPro';
  src: url('../public/fonts/AnonymousPro-Bold.ttf') format('truetype');
}

:root {
  --primary-color: #000;

  --dark-background-color: #000;
  --dark-text-color: #fff;
  --dark-panel-background: #000;
  --dark-button-background: #000;
  --dark-button-text: #fff;
  --dark-border-color: #fff;

  --light-background-color: #fff;
  --light-text-color: #000;
  --light-panel-background: #fff;
  --light-button-background: #fff;
  --light-button-text: #000;
  --light-border-color: var(--primary-color);

  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --panel-background: var(--dark-panel-background);
  --button-background: var(--dark-button-background);
  --button-text: var(--dark-button-text);
  --border-color: var(--dark-border-color);
}


body, p, button {
  font-family: 'AnonPro', monospace;
  color: var(--text-color);
}

.text-logo {
  font-family: 'AnonPro', monospace;
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin-bottom: 30px;
  pointer-events: none;
}

.App-header {
  background-color: var(--panel-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: var(--primary-color);
}

.tweet-form {
  background: var(--panel-background);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.tweet-button {
  background-color: var(--button-background);
  border: 1px solid var(--border-color);
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.tweet-form textarea {
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: 'AnonPro', monospace;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--panel-background);
  color: var(--text-color);
}

/* .tweet-button {
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
} */

.tweet-button:hover {
  background-color: #888;
}

.generated-tweet-container {
  width: 33%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .tweet-form {
    width: 80%;
    margin: 0 auto;
  }

  .generated-tweet-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .App-logo {
    height: 10vmin;
    margin-bottom: 30px;
    pointer-events: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.mode-toggle {
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mode-toggle:hover {
  background-color: #888;
}
