@font-face {
  font-family: 'AnonPro';
  src: url('../public/fonts/AnonymousPro-Bold.ttf') format('truetype');
}

:root {
  --primary-color: #000;
  --dark-background-color: #000;
  --dark-text-color: #fff;
  --dark-panel-background: #000;
  --dark-button-background: #000;
  --dark-button-text: #fff;
  --dark-border-color: #fff;

  --light-background-color: #fff;
  --light-text-color: #000;
  --light-panel-background: #fff;
  --light-button-background: #fff;
  --light-button-text: #000;
  --light-border-color: #000;

  --dark-logo-text-color: #fff;
  --light-logo-text-color: #000;

  --logo-text-color: var(--dark-logo-text-color);
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --panel-background: var(--dark-panel-background);
  --button-background: var(--dark-button-background);
  --button-text: var(--dark-button-text);
  --border-color: var(--dark-border-color);
}

body, p, button, a {
  font-family: 'AnonPro', monospace;
  color: var(--text-color);
}

.text-logo {
  font-family: 'AnonPro', monospace;
  font-size: 40px;
  font-weight: bold;
  color: var(--logo-text-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin-bottom: 30px;
  pointer-events: none;
}

.App-header {
  background-color: var(--panel-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--panel-background);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: var(--primary-color);
}

.tweet-form {
  background: var(--panel-background);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.tweet-button {
  background-color: var(--button-background);
  border: 1px solid var(--border-color);
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: calc(100%);  /* Full width minus padding */
  margin: 10px 0;  /* Add some top and bottom margin */
  
}

.share-button {
  background-color: var(--button-background);
  border: 1px solid var(--border-color);
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: calc(80%);  /* Full width minus padding */
  margin: 10px 0;  /* Add some top and bottom margin */
  
}

.balance-container {
  margin-bottom: 20px;
  text-align: center;
}

.coin-balance {
  font-size: 18px;
  font-weight: normal;
  color: #aaa;
  margin-left: 5px;
  margin-right: 5px;
}

.subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
}

.action-title, .or-divider {
  margin: 20px 0;
  font-size: 20px;
}

.subscribe button.tweet-button {
  width: 100%;
}

.tweet-form textarea {
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: 'AnonPro', monospace;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--panel-background);
  color: var(--text-color);
}

.tweet-button:hover {
  background-color: #888;
}

.generated-tweet-container {
  width: 33%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.button-container {
  max-width: 500px;  /* Same max-width as the tweet-form */
  width: 100%;  /* Full width */
  margin: 0 auto; /* Center the container */
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .tweet-form {
    max-width: 90%;  /* Set a flexible max-width for smaller screens */
    margin: 0 auto;
  }

  .generated-tweet-container {
    width: 80%;
    margin: 0 auto;
  }

  .App-logo {
    height: 10vmin;
    margin-bottom: 30px;
    pointer-events: none;
  }
  .App-footer {
    font-size: 14px;
    padding: 5px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mode-toggle {
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mode-toggle:hover {
  background-color: #888;
}


