@font-face {
  font-family: 'AnonPro';
  src: url('../public/fonts/AnonymousPro-Bold.ttf') format('truetype');
}

:root {
  --primary-color: #000;

  --dark-background-color: #000;
  --dark-text-color: #fff;
  --dark-panel-background: #000;
  --dark-button-background: #000;
  --dark-button-text: #fff;
  --dark-border-color: #fff; /* Set to white for dark mode */

  --light-background-color: #fff;
  --light-text-color: #000;
  --light-panel-background: #fff;
  --light-button-background: #fff;
  --light-button-text: #000;
  --light-border-color: #000; /* Set to black for light mode */

  --dark-logo-text-color: #fff; /* White for dark mode */
  --light-logo-text-color: #000; /* Black for light mode */

  --logo-text-color: var(--dark-logo-text-color);

  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --panel-background: var(--dark-panel-background);
  --button-background: var(--dark-button-background);
  --button-text: var(--dark-button-text);
  --border-color: var(--dark-border-color);
  --icon-color: var(--dark-text-color);
}

body.dark-mode {
  --icon-color: var(--light-text-color);
}

body, p, button {
  font-family: 'AnonPro', monospace;
  color: var(--text-color);
}

.text-logo {
  font-family: 'AnonPro', monospace;
  font-size: 40px;
  font-weight: bold;
  color: var(--logo-text-color); /* Use the CSS variable here */
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin-bottom: 30px;
  pointer-events: none;
}

.App-header {
  background-color: var(--panel-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: var(--primary-color);
}

.generate-button {
  margin-top: 10px;
}

.tweet-form, .tweet-button.generate-button {
  width: 500px;
  margin: 10px auto;
}

label {
  display: block;
  margin-top: 10px;
}

.tweet-form {
  background: var(--panel-background);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 2px;
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.tweet-form textarea {
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: 'AnonPro', monospace;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--panel-background);
  color: var(--text-color);
}

.icon-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex; /* Flex layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  gap: 1px; /* Gap between icons */
  z-index: 1000; /* Above other elements */
}

.custom-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px; /* GitHub icon size */
  z-index: 1001; /* Above container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 23px; /* Emoji size */
  z-index: 1001; /* Above container */
  display: flex;
  align-items: center;
  justify-content: center;
}


.tweet-button {
  background-color: var(--button-background);
  border: 1px solid var(--border-color);
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999; /* Decreased z-index to place this below other elements */
}

.tweet-button:hover {
  background-color: #888;
}

.generated-tweet-container {
  width: 33%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .tweet-form, .tweet-button.generate-button {
    width: 80%;
    margin: 10px auto;
  }

  .generated-tweet-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .App-logo {
    height: 10vmin;
    margin-bottom: 30px;
    pointer-events: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 