@font-face {
  font-family: 'AnonPro'; /* You can name it anything */
  src: url('../public/fonts/AnonymousPro-Bold.ttf') format('truetype'); /* Update the path and format */
}

body, p, button {
  font-family: 'AnonPro', monospace; /* Use the custom font as the main font and fall back to a monospace font */
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin-bottom: 30px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items along the main axis (vertically in this case) */
  align-items: center; /* Center items along the cross axis (horizontally in this case) */
  color: white;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px; /* Adjust as per your need */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.tweet-form {
  background: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.tweet-form textarea {
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: 'AnonPro', monospace; /* Custom font here as well */
  font-size: 16px;
  line-height: 20px;
}

.tweet-button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.tweet-button:hover {
  background-color: #0c7abf;
}

.generated-tweet-container {
  width: 33%; /* Set to 100% for better mobile compatibility */
  margin: 0 auto;
  text-align: center;
}

/* Media query for small screens (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .tweet-form {
    width: 90%; /* Increase width for mobile */
    margin: 0 auto; /* Center the form */
  }

  .generated-tweet-container {
    width: 90%; /* Set to 100% for better mobile compatibility */
    margin: 0 auto;
    text-align: center;
    /* padding: 0 20px; Add some padding for smaller screens */
  }

  .App-logo {
    height: 10vmin;
    margin-bottom: 30px;
    pointer-events: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
